[project]
name = "minibiblio-api"
version = "0.1.0"
description = "FastAPI backend for minibiblio"
requires-python = ">=3.9"
dependencies = [
    "fastapi==0.100.1",
    "pydantic[email]>=2.12.4",
    "uvicorn[standard]==0.23.2",
]
